/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define VUKEYS 0
#define SYM 1

/ {
    behaviors {
        mm_comma_semi: mm_comma_semi {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_COMMA_SEMI";
            bindings = <&kp COMMA>, <&kp SEMI>;
            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        mm_dot_col: mm_dot_col {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_DOT_COL";
            bindings = <&kp DOT>, <&kp COLON>;
            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        mm_pipe_bslh: mm_pipe_bslh {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_PIPE_BSLH";
            bindings = <&kp PIPE>, <&kp BACKSLASH>;
            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        mm_lbkt_lbrace: mm_lbkt_lbrace {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_LBKT_LBRACE";
            bindings = <&kp LBKT>, <&kp LEFT_BRACE>;
            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        mm_lpr_hash: mm_lpr_hash {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_LPR_HASH";
            bindings = <&kp LS(N9)>, <&kp LS(N3)>;
            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        mm_lcbr_dollar: mm_lcbr_dollar {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_LCBR_DOLLAR";
            bindings = <&kp LS(LBKT)>, <&kp LS(N4)>;
            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        mm_rcbr_amp: mm_rcbr_amp {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_RCBR_AMP";
            bindings = <&kp LS(RBKT)>, <&kp LS(N7)>;
            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        mm_rpr_star: mm_rpr_star {
            compatible = "zmk,behavior-mod-morph";
            label = "mm_rpr_star";
            bindings = <&kp LS(N0)>, <&kp LS(N8)>;
            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        mm_rbkt: mm_rbkt {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_RBKT";
            bindings = <&kp RBKT>, <&kp LS(RBKT)>;
            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        mm_n3_left: mm_n3_left {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_N3_LEFT";
            bindings = <&kp N3>, <&kp LEFT>;
            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        mm_n4_right: mm_n4_right {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_N4_RIGHT";
            bindings = <&kp N4>, <&kp RIGHT>;
            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        mm_n7_down: mm_n7_down {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_N7_DOWN";
            bindings = <&kp N7>, <&kp DOWN>;
            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        mm_n8_up: mm_n8_up {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_N8_UP";
            bindings = <&kp N8>, <&kp UP>;
            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        mm_n9_lt: mm_n9_lt {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_N9_LT";
            bindings = <&kp N9>, <&kp LESS_THAN>;
            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        mm_n0_gt: mm_n0_gt {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_N0_GT";
            bindings = <&kp N0>, <&kp GREATER_THAN>;
            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        left_index_home_top_ctrl {
            bindings = <&sk LCTRL>;
            key-positions = <3 13>;
            layers = <0 1>;
            timeout-ms = <50>;
        };

        left_middle_home_top_cmd {
            bindings = <&sk LGUI>;
            key-positions = <2 12>;
            layers = <0 1>;
            timeout-ms = <50>;
        };

        left_ring_home_top_opt {
            bindings = <&sk LALT>;
            key-positions = <1 11>;
            layers = <0 1>;
            timeout-ms = <50>;
        };

        right_index_home_top_ctrl {
            bindings = <&sk RCTRL>;
            key-positions = <6 16>;
            layers = <0 1>;
            timeout-ms = <50>;
        };

        right_middle_home_top_cmd {
            bindings = <&sk RGUI>;
            key-positions = <7 17>;
            layers = <0 1>;
            timeout-ms = <50>;
        };

        right_ring_home_top_opt {
            bindings = <&sk RALT>;
            key-positions = <8 18>;
            layers = <0 1>;
            timeout-ms = <50>;
        };

        pwd_l {
            bindings = <&pwd>;
            key-positions = <0 4>;
        };

        pwd_r {
            bindings = <&pwd>;
            key-positions = <5 9>;
        };
    };

    macros {
        pwd: pwd {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp H>;
            label = "PWD";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        VUKEYS {
            label = " VU KEYS";
            bindings = <
&kp Q  &kp C  &kp D    &kp M      &kp V        &kp B      &kp W       &kp U        &kp K  &kp SQT
&kp N  &kp S  &kp T    &kp R      &kp L        &kp Y      &kp A       &kp E        &kp O  &kp I
&kp X  &kp F  &kp G    &kp H      &kp Z        &kp SLASH  &kp P       &mm_dot_col  &kp J  &mm_comma_semi
                        &kp ESC    &kp SPACE    &mo SYM    &kp BSPC   &kp LSHIFT   &kp RET
            >;
        };

        SYM {
            label = " SYMBOLS";
            bindings = <
&mm_pipe_bslh  &mm_lbkt_lbrace  &mm_lpr_hash  &mm_lcbr_dollar  &trans      &trans     &mm_rcbr_amp  &mm_rpr_star  &mm_rbkt   &kp GRAVE
&kp N1         &kp N2           &mm_n3_left   &mm_n4_right     &kp EQUAL   &kp MINUS  &mm_n7_down   &mm_n8_up     &mm_n9_lt  &mm_n0_gt
&trans         &trans           &trans        &kp N5           &kp TAB     &kp TAB    &kp N6        &trans        &trans     &trans
                                              &none            &trans      &trans     &none         &trans        &none
            >;
        };
    };
};
